#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Menú Principal
Exec=/usr/bin/gnome-pie -o 207
Encoding=UTF-8
Type=Application
Icon=start-here
StartupWMClass=gnome-pie-207
