#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Ventana
Exec=/usr/bin/gnome-pie -o 294
Encoding=UTF-8
Type=Application
Icon=preferences-system-windows
StartupWMClass=gnome-pie-294
