#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Aplicaciones
Exec=/usr/bin/gnome-pie -o 734
Encoding=UTF-8
Type=Application
Icon=applications-accessories
StartupWMClass=gnome-pie-734
