#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Marcadores
Exec=/usr/bin/gnome-pie -o 856
Encoding=UTF-8
Type=Application
Icon=user-bookmarks
StartupWMClass=gnome-pie-856
