#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Sesión
Exec=/usr/bin/gnome-pie -o 935
Encoding=UTF-8
Type=Application
Icon=system-log-out
StartupWMClass=gnome-pie-935
