[Desktop Entry]
Type=Application
Exec=sh "/home/wherrera/.conky/conky-startup.sh"
Hidden=true
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Conky
Comment=

